@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "PT Serif";
    margin: 0;
    padding: 0;
    /* evita que elementos aumente de tamanho de forma inesperada facilitando o controle da responsividade respeitado os tamanhos definidos */
    box-sizing: border-box;
    list-style: none;
    /*  */

}

.cabecalho {

    /* preenchimento e cores */
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(71, 64, 64, 1) 100%, rgba(196, 187, 187, 1) 61%, rgba(255, 247, 247, 0.68) 100%);
    color: white;
    padding: 1.5rem;
    /* poderia ser 24px  */

    /* Alinhamento dos itens */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    /* header fixo */
    position: sticky;
    left: 0;
    top: 0;
    z-index: 777;
}


/*  logo do header*/
.divlogo img {
    width: 55%;
    /* usando a % para diminuir seu tamnho */
}


/* estilizando o buttom do header */
.divbuttom a button {

    width: 5rem;
    /* 5x 16= 80px essa é a conta padrão */
    padding: 0.5rem;
    /* 8px preenchimento */
    background-color: #eff0d5;
    /* cor do botão */
    border: none;
    /*remoção das cores */
    font-weight: 700;
    /* peso da expressura das letras */
    border-radius: 5px;
    /* aredondamneto da bordar pode se sar o px por ser um elemento fixo */
    font-family: "PT Serif";

}


.section1 {

    padding: 9rem;
    /* preenchimento interno da section */
    background-image: url(imagens/arena-corinthians.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /*poderia usar 32px   */
    flex-wrap: wrap;
    /*elemento que informa as div que em algum momento poderam quebrar se casso necessario  */

}

.div01 {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(71, 64, 64, 1) 100%, rgba(196, 187, 187, 1) 61%, rgba(255, 247, 247, 0.68) 100%);
    font-weight: bold;
    /* cor de fundo */
    color: white;
    /* cor da letra */
    text-align: center;
    /* alinhamento centralizado do texto */
    font-size: 1.8;
    /*  tamnaho da fonte*/
    padding: 1rem;
    /* preenchimento */
    width: 25%;
    /* lagura da caixa em porcentagem*/
    height: 20rem;
    /*altura  */
    min-width: 299px;
    /* tamanho minimo  */


}

.div02 {

    padding: 1rem;
    /* preenchimento */
    width: 25%;
    /* lagura da caixa em porcentagem*/
    height: 20rem;
    /*altura  */
    min-width: 299px;
    /* tamanho minimo  */
    background-image: url(imagens/gramado.png);
    background-repeat: no-repeat;
    background-position: top;
    /* linear-gradient(180deg, #01021064 8, 33%, rgba(7, 15, 28, 0.755) 100%), url(imagens/torcida2.png); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;




}

.ul-div1 li a {

    text-decoration: none;
    background-color: red;
    color: white;
    padding: 1px;
    font-size: 1rem;
    border-radius: 5px;
    /*aredondamento da borda  */


}

.ul-div1 li {
    margin: 30px 45px;
    /* altera os 4 lados dos elementos o primeiro elemnto em px é(superior e inferior) segundo elemento é (esqueda e direita) */


}

.ul-div1 {
    margin: 5px 5px;
}

.fa-9,
.fa-7 {

    color: #000000;
    font-size: 1.6rem;

}

span {
    color: red;

}

.img-div {

    padding: 3%;
    background-image: url(imagens/textura5.jpg);
    background-position: center;
    background-size: cover;
    /* preenchimento total da img na caixa */
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(71, 64, 64, 1) 100%, rgba(196, 187, 187, 1) 61%, rgba(255, 247, 247, 0.68) 100%);
    flex-wrap: wrap;
    /* wrap coso nessesario quebrar as caixas dependendo da tela */

}

.div-caixa {
    width: 25%;
    height: 22rem;
    background-color: white;
    min-width: 200px;
    font-size: 1.2rem;
    color: #000000;
    box-shadow: 10px 10px 20px rgb(70, 20, 20);
    cursor: pointer;

}

.div-caixa:hover{
     box-shadow: 12px 12px 22px rgb(148, 25, 25);
     transition: 0.8;

}